/* MAIN THINGS */

html{
    height: 100%;
    width: auto;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    background: rgb(63,190,251);
    background: radial-gradient(circle, rgba(63,190,251,1) 0%, rgba(176,159,128,1) 52%, rgba(252,70,86,1) 100%);     color: white;
    font-family: sans-serif;
}

/* TOP AREA */

h1{
    font-family: capitol, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 65px;
    margin: -10px;
    color: white;
}
.title__entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 530px;
}
#birthday {
    background: rgba(255,255,255, 0.3);
    color: black;
    font-size: 1.3em;
    border: none;
    border-radius: 70px;
    padding: 10px 7px 10px 21px;
    margin: 10px;
    box-shadow: 0px 0px 12px rgb(49, 49, 49);
  }
.js-submit-button{
    border: none;
    border-radius: 70px;
    padding: 5px 10px;
}

/* BUTTONS */

.all__fonts{
    display: flex;
    flex-flow: row wrap;
    font-size: 50px;
    opacity: .6;
    margin: -120px 0;
    align-items: center;
    justify-content: center;
}
.font__buttons{
    background: rgba(70, 70, 70, 0.411);
    font-size: 27px;
    border: none;
    border-radius: 70px;
    color: white;
    margin: 10px;
    padding: 5px;
    width: 55px;
    height: 55px;
}
.aries{
    font-family: marco,serif;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 12px;
}
.taurus{
    font-family: fino,serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}
.gemini{
    font-family: satisfy,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 13px;
}
.cancer{
    font-family: p22-brass-script-pro,cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 7px;
}
.leo{
    font-family: bely-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 8px;
}
.virgo{
    font-family: novecento-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 9px;
}
.libra{
    font-family: relation-one,sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 10px;
}
.scorpio{
    font-family: manofa,sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 12px;
}
.sagittarius{
    font-family: bree,sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 6px;
}
.capricorn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding-top: 6px;
}
.aquarius{
    font-family: eckmannpsych-medium,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 8px;
}
.pisces{
    font-family: halyard-display,sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 8px;
}

/* Help Button */
.popup {
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    top: 0px;
    left: 0px;
    width: 45px;
    height: 45px;
    display: inline-block;
    cursor: pointer;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: none;
    color: white;
    border-radius: 70px;
    border: 2px solid white;
    font-size: 25px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 280px;
    background-color: rgba(70, 70, 70, 0.411);
    color: #fff;
    text-align: center;
    line-height: 23px;
    border-radius: 6px;
    font-size: 18px;
    padding: 1rem;
    position: absolute;
    left: 130%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Manual Choice Styling */

.manualchoiceObj {
    margin: 10rem 0 0 0;
  }
  
  .manualchoice {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  /* THE MODAL */

/* Modal Content */


*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Hidden Controls */
[hidden] {
	display: none !important;
}

button {
	background-color: #e7857a;
	padding: .75rem;
	margin: .75rem;
	border-radius: 0;
	border: 0;
	font-size: 14px;
    font-weight: 500;
	transition: background-color 225ms ease-in-out;
	transition: color 225ms ease-in-out;
	border-radius: 20px;
}

button:hover,
button:focus {
	background-color: #da5a4c;
	color: white;
}

button:hover {
	cursor: pointer;
}

.modal {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, .8);

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-body {
	background-color: rgb(218,90,76);
    background: linear-gradient(0deg, rgba(218,90,76,1) 0%, rgba(238,215,171,1) 27%, rgba(255,255,255,1) 62%);

	height: 85vh;
	max-width: 60vw;

	position: relative;
	z-index: 101;

	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 2rem;
	font-weight: 300;
	text-align: center;

	border-radius: 50px;

}

/* Modal Content Styling */

#zDisplayImg{
    width: 60%;
}

#zTitle {
    display: none;
}

#zDateRange {
    font-size: 30px;
    color: black;
    font-weight: 500;
    /* font-family: capitol, sans serif; */
}

.titleAndDate{
    margin-top: -30px;

}
#zMoreInfo {
	font-size: 1rem;
	text-align: left;
	padding-left: 1rem;
    color: black;
    text-align: center;
    line-height: 20px;
}
